body {
  height: 100%;
  background: linear-gradient(to left top, rgba(253, 240, 237, 1), rgba(237, 251, 253, 1), rgba(253,	240,	237, 1));
  background-size: cover;
  background-attachment: fixed;
  font: 1rem 'Raleway', Helvetica, sans-serif;
  font-weight: 400;
  color: #011728;
}

h1 {
  font-size: 4rem;
}

h1, p {
  text-align: center;
}

.py-5 {
  padding-bottom: 2rem !important;
}

.lead {
  line-height: 1.7rem;
  font: 1rem 'Cutive Mono', monospace;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.number {
  font-size: 3rem;
  font-family: 'Cutive Mono', monospace;
}

.crystal {
  padding-top: 40px;
}

.card {
  width: 13rem;
  margin: 0 auto;
}

.card-right {
  margin-bottom: 2rem;
}

.col-md-4 {
  text-align: center;
}

.col-md-6 {
  padding: 10px;
  width: 50%;
}